*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(109, 109, 156);
    font-family: verdana;
}
.container{
    width: 1200px;
    background-color: white;
    margin: 10px auto;
}
.superior{
    background-color: #1551a1;
    overflow: hidden;
}
.logo{
    float:left
    width: 300px;
    padding: 35px;
}

.menu{
    float:left;
    padding: 20px;
}
.opciones li{
    float:left;
    list-style: none;
}
.opciones li a{
    color:white;
    padding: 25px;
    text-decoration: none;
    border:1px solid white;

}
.opciones li a:hover{
    background-color: #0e386e;
}
.cuerpo{
    overflow:hidden;
}
.caja{
    float: left;
    width: 380px;
    margin: 8px;
    border: 1px solid;
}
.subtitulo{
    background-color: #1551a1;
}
.servicios{
    color:white;
    text-align: center;
    padding: 15px 0;
}
.efecto:hover{
    opacity: 0.8;
    cursor: pointer;
}
.contenido{
    padding: 20px;
    text-align: justify;
}
.boton{
    padding: 15px 20px;
    margin: 20px 0;
    color: white;
    background: #144c96;
    border-radius: 5px;
}
.boton:hover{
    background: #124588;
    cursor: pointer;
}
.titulo{
    text-align: center;
    padding: 20px 0 15px 0;
    color: #ff7600;
    font-size: 30px;
}
.pie{
    background: #062384;
    overflow: hidden;
}
.izquierda{
    float: left;
    width: 550px;
    padding: 20px;
}
.derecha{
    float: left;
    width: 550px;
    padding: 20px;
}
.abajo{
    color: white;
    font-size: 12px;
    padding: 10px;
}
.siguenos{
    text-align: center;
    color: white;
    padding: 15px 0;
}